@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

:root {
  --maincolor: #487387;
  --Deletecolor: #f31414;
}

.center {
  text-align: center;
}

/* styling in app  */

.App {
  /* max-width: 75rem;
  margin: 0 auto; */
  display: flex;
  height: 100vh;
  flex-direction: column;
}

/* styling in header section  */

.header {
  box-shadow: 0px 0px 7px -4px black;
}

.head {
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1rem;
}

.logo {
  text-decoration: none;
  font-size: 1.8rem;
  cursor: pointer;
}

/* styling in navigation link  */

.navigation {
  display: flex;
  gap: 1rem;
}

.links a {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

/* styling in addnote section */

.addnotes {
  padding: 1rem;
}

.addnotes .h2 {
  font-size: 1.8rem;
  padding-bottom: 1.25rem;
}

.addnotes .title,
.desc {
  padding: 0.9375rem 0;
}

.addnotes input {
  border: none;
  border-bottom: 2px solid var(--maincolor);
  background: transparent;
  border-radius: 0;
  outline: none;
  padding-bottom: 0.125rem;
  width: 100%;
  font-size: 1.2rem;
}

.addnotes h2 {
  font-size: 1.5rem;
  padding: 0.625rem 0;
}

.addnotes button {
  width: 100%;
  margin: 0.625rem 0;
  padding: 0.3125rem;
  font-size: 1.2rem;
  outline: none;
  background: var(--maincolor);
  border: 1px solid var(--maincolor);
  color: white;
  cursor: pointer;
  border-radius: 0.1875rem;
}

/*styling in notes section */

.notes {
  padding: 1rem;
}

.notes-h2 {
  margin: 0.625rem 0;
}

/* styling in notesitem  */

.note {
  box-shadow: 0px 3px 4px -4px black;
  padding: 1rem 0px;
  margin: 0.625rem 0;
}

.note h2 {
  font-size: 1.7rem;
}

.note p {
  font-size: 1.2rem;
}

.note button {
  outline: none;
  background: var(--Deletecolor);
  border: 1px solid var(--Deletecolor);
  padding: 0.375rem 0.8125rem;
  font-size: 0.9rem;
  margin: 0.625rem 0;
  border-radius: 0.1875rem;
  color: white;
  cursor: pointer;
}

/* styling in footer section  */

.footer {
  display: grid;
  place-content: center;
  padding: 0.8rem;
  background-color: var(--maincolor);
  margin-top: auto;
}

.footer p {
  color: white;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .addnotes,
  .notes {
    width: 50%;
    margin: 0 auto;
  }
  .addnotes button {
    width: 35%;
  }
}

@media (max-width: 769px) {
  .addnotes .h2,
  .notes h1 {
    font-size: 1.4rem;
  }

  .addnotes h2,
  .notes h2 {
    font-size: 1.2rem;
  }
  .addnotes button {
    font-size: 1rem;
  }

  .footer p {
    color: white;
    font-size: 0.8rem;
  }
}
